In [1]:
# Can you create a random sample of 500 rows from that dataset?

In [2]:
import pandas as pd
import numpy as np
location = "datasets/datasets/gradedata.csv"
df = pd.read_csv(location)
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [3]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
537,Byron,Buckner,male,16,2,13,92.9,"194 South Johnson Street, Little Rock, AR 72209"
747,Malcolm,Nicholson,male,19,3,9,79.2,"8 NW. Marshall Drive, Chelmsford, MA 01824"
1288,Griffith,Swanson,male,19,4,4,78.5,"9505 Ocean St., Dallas, GA 30132"
717,Evan,Hester,male,17,2,9,76.5,"7936 N. Beechwood St., Westlake, OH 44145"
1761,Uta,Cohen,female,16,5,7,83.9,"7268 South Sherwood Drive, Merrillville, IN 46410"
1287,Dexter,Kramer,male,17,4,16,97.7,"158 Taylor Rd., Wellington, FL 33414"
844,Aretha,Whitley,female,15,1,10,82.2,"656 San Carlos St., Windsor, CT 06095"
1801,Quentin,Hines,male,17,4,16,85.5,"323 Devon St., Emporia, KS 66801"
231,Regina,Hays,female,18,3,13,94.7,"7770 West Inverness St., Dacula, GA 30019"
1260,Jade,Cline,female,15,4,8,75.1,"9440 Marshall St., Brentwood, NY 11717"
229,Harriet,Harvey,female,15,3,8,76.1,"790 Oakwood Drive, Willoughby, OH 44094"
10,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
1702,Karly,Watts,female,19,2,11,89.3,"32 East Harvard Lane, Berwyn, IL 60402"
1976,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701"
1170,Eliana,Todd,female,14,5,5,74.8,"8781 Campfire Ave., Southampton, PA 18966"
208,Dante,Malone,male,18,4,12,87.3,"7 Wall St., Smyrna, GA 30080"
1021,Cassidy,Whitley,female,18,4,20,100.0,"425 Taylor St., Winter Haven, FL 33880"
74,Jaden,Maldonado,female,16,4,10,84.5,"8127 Myers Dr., Johnson City, TN 37601"
1909,Reece,Baker,male,14,1,12,84.6,"8 St Louis Ave., Pataskala, OH 43062"
1040,Kareem,Walters,male,16,2,14,83.1,"117 Vermont Ave., Rapid City, SD 57701"
960,Ainsley,Small,female,19,5,12,94.4,"31 Bear Hill Lane, Kennewick, WA 99337"
307,Janna,King,female,15,1,6,77.0,"76 Delaware Street, Prior Lake, MN 55372"
1219,Dylan,Delaney,male,14,4,5,64.3,"38 Sage Drive, Port Jefferson Station, NY 11776"
1541,Nathaniel,Meyer,male,14,1,6,71.8,"9340 East Acacia Avenue, Cambridge, MA 02138"
1275,Gary,Bradford,male,17,4,9,73.9,"5 Cottage Ave., Buford, GA 30518"
1398,Halla,Vang,female,16,3,17,100.0,"9124 Fairway Road, Dawsonville, GA 30534"
1302,Devin,Roberson,male,14,4,15,99.7,"1 Rosewood Rd., Neenah, WI 54956"
503,Gloria,Morrison,female,15,1,10,88.0,"86 Rockwell Ave., Essex, MD 21221"
1162,Cedric,Horton,male,16,2,15,91.8,"661 North Arcadia Drive, West Bend, WI 53095"
718,Merritt,Dominguez,male,15,3,10,74.0,"188 Central Dr., Midland, MI 48640"
...,...,...,...,...,...,...,...,...
122,Keelie,Rice,female,19,4,9,88.4,"9906 Lakewood Court, Warren, MI 48089"
963,Hayley,Aguirre,female,19,4,14,85.8,"140 Trout Rd., Waterloo, IA 50701"
719,Rebekah,Schmidt,female,18,5,12,84.1,"83 Cobblestone St., Phillipsburg, NJ 08865"
713,Gay,Pope,female,18,3,11,88.9,"54 State St., Abingdon, MD 21009"
1773,Ava,David,female,18,1,8,75.0,"17 Nut Swamp Street, Pottstown, PA 19464"
1159,Abra,Neal,female,16,1,14,80.1,"307 Brickyard Ave., Palm Beach Gardens, FL 33410"
1126,Arsenio,Mcleod,male,17,3,5,64.0,"183 Old Fairway Road, Snellville, GA 30039"
442,Shaine,Harrell,female,14,1,11,90.3,"9446 S. John Court, Mount Laurel, NJ 08054"
1282,Cameron,David,male,14,2,10,84.5,"7586 Trout Street, Olive Branch, MS 38654"
1624,Halee,Garner,female,16,2,15,93.8,"77 Old Wood Lane, Englishtown, NJ 07726"
1775,Amethyst,Logan,female,18,4,6,66.1,"212 Mayfield Ave., Pittsburgh, PA 15206"
1625,Avye,Mccray,female,17,3,8,84.4,"25 West Brandywine Street, Brentwood, NY 11717"
168,Callie,Hoffman,female,15,3,9,71.9,"183 N. Brickell Lane, West Chicago, IL 60185"
314,Cally,Garrison,female,17,3,7,84.7,"31 Dogwood Ave., Rego Park, NY 11374"
1430,Perry,Wright,male,19,1,10,86.0,"15 Winding Way Ave., Bemidji, MN 56601"
1552,Velma,Hardin,female,18,4,11,85.3,"712 2nd Ave., Taylor, MI 48180"
18,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542"
1160,John,Olsen,male,15,3,11,77.4,"537 Brookside Drive, Culpeper, VA 22701"
1359,Jin,Valdez,male,19,2,2,77.0,"604 Big Rock Cove Drive, Gibsonia, PA 15044"
1014,Dolan,Oneill,male,15,3,14,95.3,"8232 Albany Street, Oconomowoc, WI 53066"
277,Roth,Patrick,male,14,2,13,90.4,"752 North Prince Ave., Greensboro, NC 27405"
1933,Adena,Robinson,female,14,3,19,100.0,"575 Beech Street, Upper Marlboro, MD 20772"
1533,Grant,Ruiz,male,14,5,14,95.5,"612 Kent Court, Cockeysville, MD 21030"
1328,Ignacia,Berger,female,15,3,17,100.0,"306 Mechanic St., Saugus, MA 01906"
1973,Allistair,Boyer,male,14,3,10,74.2,"9373 Helen Drive, Leland, NC 28451"
1550,Shoshana,Collier,female,16,5,9,82.5,"23 Magnolia Dr., Haines City, FL 33844"
1389,Mariko,Le,female,18,2,15,91.1,"8086 Elmwood Street, Hickory, NC 28601"
900,Ava,Pope,female,16,3,17,93.0,"942 South Howard St., Paterson, NJ 07501"
1577,Allegra,Davidson,female,14,5,11,80.9,"7498 Randall Mill St., Hammonton, NJ 08037"
1680,Clayton,Yates,male,16,5,14,100.0,"9528 Miller Drive, Klamath Falls, OR 97603"